/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLES */
:root {
  --FF-RALEWAY: "Raleway", sans-serif;
  --FF-INTER: "Inter", sans-serif;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.green {
  color: #1dd100;
}

.description {
  color: #fff;
  font-family: var(--FF-INTER);
  font-size: 18px;
  line-height: 30px;
}

img {
  /* width: 100%; */
  /* height: auto; */
}

a {
  text-decoration: none;
}

a:any-link {
  color: black;
}

button {
  cursor: pointer;
}

/* HEADER STYLES */
.header {
  font-family: var(--FF-RALEWAY);
  margin: 1.5rem 8rem 8rem;
}

.header h3 {
  color: #030712;
  font-size: 2.25rem;
  font-weight: 800;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 3.5rem;
  font-size: 18px;
  font-weight: 500;
}

.nav a {
  color: #030712b3;
}

.nav div {
  border: 1px solid #1dd10066;
  background-color: #1dd1001a;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1dd100;
  font-size: 1.25rem;
  font-weight: 700;
}

.banner {
  height: 550px;
  margin-top: 3rem;
  padding: 4rem 0 8rem;
  text-align: center;
  background-image: linear-gradient(to right, #03071280, #03071200),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 2rem;
}

.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  line-height: 86px;
}

.banner > p {
  margin: 2rem 0;
}

.btn-buy-ticket {
  background: #1dd100;
  padding: 21px 30px;
  border: 0;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.statistics {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.statistics > div {
  background-color: #fff;
  width: 308px;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;

  display: flex;
  gap: 1rem;
  text-align: start;
  border-bottom: 3px solid #1dd100;

  position: relative;
  bottom: -60px;
}

.statistics h3 {
  color: #030712;
  font-family: var(--FF-INTER);
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

/* MAIN SECTION STYLES */
/* offer */
main {
  max-width: 1170px;
  margin: 0 auto;
}

.offer {
  margin-top: 10rem;
  text-align: center;
  font-family: var(--FF-RALEWAY);
}

.offer__title {
  color: #030712;
  font-size: 2.5rem;
  font-weight: 700;
}

.offer__container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 3rem 0 4rem;
}

.offer__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 2.5rem 3.25rem;
  border-radius: 1.5rem;
  text-align: start;
  position: relative;
}

.offer__container > div:first-child {
  background-color: #ffbf0f;
}
.offer__container > div:last-child {
  background-color: #f78c9c;
}

.offer__container > div > div:nth-child(2) {
  text-align: center;
}

.offer .discount {
  font-family: var(--FF-INTER);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.25rem;
}

.offer .next-purchase {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 1rem 0;
}

.offer .time,
.coupon-code {
  font-size: 18px;
  font-weight: 500;
  line-height: 2.25rem;
  opacity: 0.5;
}

.offer .discount-amount {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}

.offer__container img {
  position: absolute;
  right: 200px;
}

.btn-offer {
  background: transparent;
  color: #1dd100;
  border: 1px solid #1dd100;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.75rem;
}

/* ticket info */
.ticket-info {
  /* border-top: 2px solid #1dd100; */
  margin-top: 5rem;
  padding: 5rem 5rem;
  background-color: #f7f8f8;
  border-radius: 5rem 5rem 0 0;
  border-top: 2px solid #1dd100;
}

.ticket-info-title {
  font-family: var(--FF-RALEWAY);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.ticket-info-description {
  font-family: var(--FF-INTER);
  line-height: 30px;
  text-align: center;
  opacity: 0.6;
  margin: 1rem 0 2rem;
}

.journey-info-container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  gap: 6rem;
  position: relative;
}

.journey-info-container > img {
  position: absolute;
  right: 170px;
}

.journey-info-container > div:first-child {
  flex-grow: 2;
}
.journey-info-container > div:last-child {
  flex-grow: 1;
}

.journey-info-container .container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.container-1 > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-1 h3 {
  font-family: var(--FF-RALEWAY);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.container-1 .coach {
  font-family: var(--FF-INTER);
  font-size: 18px;
  opacity: 0.6;
}

.seats-left-info {
  background: #1dd10026;
  padding: 1rem;
  border-radius: 0.75rem;
}

.container-1 .seats-left {
  color: #1dd100;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--FF-INTER);
}

.route-info-container {
  background: #f7f8f8;
  padding: 1rem 2rem;
  font-family: var(--FF-RALEWAY);
  border-radius: 1.5rem;
}

.route-info-container > div {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  gap: 1rem;
}

.con-1,
.con-2 {
  border-bottom: 1px dashed gray;
}

.con-3 > p {
  background: #0307120d;
  text-align: center;
  flex-grow: 1;
  padding: 1rem 0;
  border-radius: 0.75rem;
}

.price {
  text-align: center;
}

.price h3 {
  font-family: var(--FF-RALEWAY);
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
}

.price p {
  font-family: var(--FF-RALEWAY);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 40px;
  opacity: 0.6;
}

/* seat info */
.seat-info {
  margin-top: 1.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1.5rem;
  /* gap: 1rem; */
}

.seat-info h3 {
  font-family: var(--FF-RALEWAY);
  font-size: 1.5rem;
}

.availability {
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0;
  font-family: var(--FF-INTER);
}

.availability > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.available {
  opacity: 0.6;
}

.availability .selected {
  color: #1dd100;
}

.steering-wheel {
  /* border: 1px solid; */
  /* text-align: end; */
  width: 110px;
  height: 56px;
  background: #f0f8f8;
  border-radius: 0.75rem;
  display: grid;
  place-content: center;
  margin: 1rem 0 1rem auto;
}

.seat-info > div:first-child {
  /* border: 1px solid rebeccapurple; */
  width: 60%;
  padding-right: 2rem;
  border-right: 2px dashed lightgray;
}
.seat-info > div:last-child {
  /* border: 1px solid rebeccapurple; */
  width: 40%;
  padding-left: 2rem;
}

.seat-container {
  display: flex;
  justify-content: space-between;
  font-family: var(--FF-INTER);
}

.seat-container > div > div {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.seat-container .seat {
  background-color: #f0f8f8;
  width: 110px;
  height: 56px;
  display: grid;
  place-content: center;
  border-radius: 0.75rem;
  opacity: 0.6;
}

.seat-container .row {
  display: grid;
  place-content: center;
  opacity: 0.6;
}

/* seat info container 2 */
.seat-info__container2 {
  font-family: var(--FF-INTER);
}

.seat-info__container2 h3 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed lightgray;
}

.card {
  background: #f7f8f8;
  padding: 1rem;
  border-radius: 0.75rem;
}

.seat-type,
.price-total,
.grand-total {
  display: flex;
  justify-content: space-between;
}

.price-total {
  border-top: 1px dashed lightgray;
  padding-top: 1rem;
}

.seat-type {
  padding-bottom: 1rem;
  border-bottom: 1px dashed lightgray;
  margin-bottom: 1rem;
}

.coupon-field {
  background: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
}

.coupon-field input {
  border: none;
  outline: none;
  font-size: 18px;
}

.coupon-field button {
  border: none;
  background: #1dd100;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.form {
  margin-top: 2rem;
}

.form input {
  margin: 0.5rem 0 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.75rem;
  width: 100%;
  font-size: 18px;
}

.btn-submit {
  width: 100%;
  border: 0;
  padding: 1rem;
  background: #1dd100;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 0.75rem;
}

.terms-conditions {
  margin-top: 3rem;
}

.terms-conditions a {
  text-decoration: underline;
}

.terms {
  margin-right: 2rem;
}

/* FOOTER */
.footer {
  width: 1170px;
  margin: 0 auto;
  background: #030712;
  color: #fff;
  font-family: var(--FF-RALEWAY);
  padding: 6rem;
}

.play-store {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  padding-bottom: 3rem;
}

.play-store h2 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.download {
  margin-bottom: 1rem;
}

.footer-con2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.refund {
  display: flex;
  gap: 2rem;
}
